.customFields {

  .tableAndReserved {
    display: grid;
    grid-template-columns: 75% auto;
    grid-column-gap: 24px;
  }

  .cardSpacing {
    .ant-card-body {
      padding: 16px 16px 0;
    }
  }

  .reservedBox {
    display: flex;
    flex-direction: column;

    .boxValue {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .ant-typography, .ant-typography p {
        margin-bottom: 8px;
        margin-top: 0;
      }
    }
  }
}

.editModal {
  .ant-form-vertical .ant-form-item {
    margin-bottom: 4px;
  }

  .ant-form-item-label {
    padding: 0;
  }
}