.templates {
  .cardContainer {
    height: calc(100vh - 196px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cardDiv {
      overflow: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-column-gap: 2%;

      .ant-card {
        border: 1px solid #F0F0F0;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);

        .textOverflow {
          width: 90%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .svgIcon {
        display: flex;
        justify-content: center;
      }
    }
  }
}