.amendAutomation {

  .flexWrap {
    display: flex;
    flex-wrap: wrap;
  }

  .flexSpaceBw {
    display: flex;
    justify-content: space-between;
  }

  .flexCol {
    @extend .flexSpaceBw;
    flex-direction: column;
  }

  .leftMargin {
    margin-left: 16px;
  }

  .greenLeftMargin {
    @extend .leftMargin;
    background: darkgreen;
  }

  .sidebar {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;

    .description {
      margin-bottom: 10px;
    }

    .nodeBox {
      height: 48px;
      padding: 4px;
      border: 1px solid #1a192b;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: grab;
      margin-bottom: 4px;
    }

    .input {
      border-color: #0041d0;
    }

    .output {
      border-color: #ff0072;
    }

    .customNodeTwo {
      border-color: greenyellow;
    }

    .custom {
      border-color: #531dab;
    }
  }

  .editMode {
    display: grid;
    grid-template-columns: auto 80%;
    grid-row-gap: 16px;
  }

  .gridDisplay {
    height: calc(100vh - 212px);

    .reactflow-wrapper {
      flex-grow: 1;
      height: 100%;
    }
  }

  .react-flow__node-default, .react-flow__node-input, .react-flow__node-output {
    padding: 0;
    width: 180px;
    border-radius: 0;
    border-color: #000c17;

    .ant-typography {
      font-size: 10px;
    }

    .ant-card-small > .ant-card-body {
      padding: 0;

      .ant-card-meta-detail > div:not(:last-child) {
        margin-top: 4px;
        margin-bottom: 0;
      }

      .ant-divider-horizontal {
        margin: 0 -4px;
      }

      .ant-card-meta {
        margin: -2px 0;
      }

      .ant-card-head {
        min-height: 28px;
        height: 28px;
        background: #f0f2f5;

        .ant-card-head-title {
          min-height: 28px;
          height: 28px;
          padding: 4px 0;
        }
      }

      div.ant-typography, .ant-typography p {
        margin-bottom: 4px;
      }
    }
  }
}

.journeyModal {

  .ant-modal-content {
    background: white;
    width: 50rem;
    max-height: calc(100vh - 150px);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    position: relative;
  }

  .ant-form-item {
    margin-bottom: 8px;
  }

  .closeIcon {
    .anticon svg {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  .formListHeader {
    margin-bottom: 8px;
  }
}

.plusWrapper {
  margin-top: 29px;

  .anticon svg {
    margin-bottom: 0;
  }
}
