.amendAutomation {

  .flexWrap {
    display: flex;
    flex-wrap: wrap;
  }

  .flexSpaceBw {
    display: flex;
    justify-content: space-between;
  }

  .flexCol {
    @extend .flexSpaceBw;
    flex-direction: column;
  }

  .leftMargin {
    margin-left: 16px;
  }

  .greenLeftMargin {
    @extend .leftMargin;
    background: darkgreen;
  }

  .sidebar {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;

    .description {
      margin-bottom: 10px;
    }

    .nodeBox {
      height: 48px;
      padding: 4px;
      border: 1px solid #1a192b;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: grab;
      margin-bottom: 4px;
    }

    .input {
      border-color: #0041d0;
    }

    .output {
      border-color: #ff0072;
    }

    .customNodeTwo {
      border-color: greenyellow;
    }

    .custom {
      border-color: #531dab;
    }
  }

  .editMode {
    display: grid;
    grid-template-columns: auto 80%;
    grid-row-gap: 16px;
  }

  .gridDisplay {
    height: calc(100vh - 212px);

    .reactflow-wrapper {
      flex-grow: 1;
      height: 100%;
    }
  }
}
