.preference {
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 16px;

  .ant-form-item-control {
    max-width: 40%;
    width: 31.5%;
  }

  .ant-picker-range {
    min-width: 252px;
  }

  .ant-picker-suffix {
    .anticon svg {
      margin-bottom: 0;
    }
  }

  .marginBtm1 {
    margin-bottom: 1%;
  }

  .trackingContainer {
    display: flex;
    flex-wrap: wrap;

    .ant-form-item {
      margin-right: 2%;
    }
  }
}