.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.5);
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu-dark.ant-menu-horizontal {
  display: flex;
  flex-direction: row-reverse;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu{
  .anticon svg {
    margin-bottom: 7px;
  }
}