.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.5);
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu-dark.ant-menu-horizontal {
  display: flex;
  flex-direction: row-reverse;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  .anticon svg {
    margin-bottom: 7px;
  }
}

.ant-layout-header {
  padding: 0;
  color: #ffffff;
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}

.pageLayout {
  height: calc(100vh - 176px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexEqualSpacing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.firstNav {
  @extend .flexEqualSpacing;

  .leftPlacement {
    @extend .flexEqualSpacing;

    .searchInput {
      margin-right: 8px;
    }
  }

  .rightPlacement {
    .ant-btn {
      padding: 2px;
    }

    .ant-btn > .anticon + span, .ant-btn > span + .anticon {
      margin-left: 4px;
    }

    @extend .flexEqualSpacing;

    .deleteBtn {
      width: 80px;
      margin-right: 8px;
    }

    .exportBtn {
      width: 100px;
      margin-right: 8px;
    }

    .addBtn {
      width: 125px;
    }
  }
}

.thirdNav {
  height: calc(100vh - 288px);
}

.anticon svg {
  margin-bottom: 6px;
}

.ant-popover-audience {
  width: 502px;

  .ant-popover-message {
    padding: 0;

    .ant-popover-message-title {
      p {
        margin: 0;
      }
    }
  }
}

.actionColumn {
  cursor: pointer;
}

.reverseFlex {
  display: flex;
  flex-direction: row-reverse;
}

.contentListing {
  p {
    @extend .actionColumn;
    color: #1890ff;
  }
}

.ant-popover-inner-content {
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.85);
}