.logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu-dark.ant-menu-horizontal {
  display: flex;
  flex-direction: row-reverse;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  .anticon svg {
    margin-bottom: 7px;
  }
}

.ant-layout-header {
  padding: 0;
  color: #ffffff;
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}

.pageLayout {
  height: calc(100vh - 176px);
  @extend .columnFlex;
  justify-content: space-between;

  .del {
  }

  .edit {
  }

  .del:hover {
    color: red;
  }

  .edit:hover {
    color: green;
  }

  .view {
  }

  .view:hover {
    opacity: 1;
  }

  .copy {
  }

  .copy:hover {
    color: #00A3FF;
  }
}

.flexEqualSpacing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div.ant-typography, .ant-typography p {
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.firstNav {
  @extend .flexEqualSpacing;

  .leftPlacement {
    @extend .flexEqualSpacing;

    .searchInput {
      margin-right: 8px;
    }
  }

  .rightPlacement {
    .ant-btn {
      padding: 2px;
    }

    .ant-btn > .anticon + span, .ant-btn > span + .anticon {
      margin-left: 4px;
    }

    @extend .flexEqualSpacing;

    .deleteBtn {
      width: 80px;
      margin-right: 8px;
    }

    .exportBtn {
      width: 104px;
      margin-right: 8px;
    }

    .addBtn {
      width: 128px;
    }
  }
}

.thirdNav {
  height: calc(100vh - 288px);
}

.anticon svg {
  margin-bottom: 6px;
}

.ant-popover-audience {
  width: 502px;

  .ant-popover-message {
    padding: 0;

    .ant-popover-message-title {
      p {
        margin: 0;
      }
    }
  }
}

.actionColumn {
  cursor: pointer;
}

.noMarginIcon {
  margin: 0;

  .anticon svg {
    margin-bottom: 0;
  }
}

.reverseFlex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;

  .ant-form-item {
    margin-bottom: 8px;
  }
}

.contentListing {
  p {
    @extend .actionColumn;
    color: #1890ff;
  }
}

.ant-popover-inner-content {
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.85);
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

.ant-upload-hint {
  @extend .columnFlex;
  justify-content: space-evenly;
}

.fullScreenModal {
  top: 0;
  padding: 0;
  margin: 0;
  max-width: 100vw;

  .ant-modal-body {
    padding: 0;
  }
}

.site-layout .site-layout-background {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

.siderUncollapse {
  flex: 0 0 240px !important;
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;

  .ant-layout-sider-trigger {
    width: 240px !important;
  }
}

.siderCollapse {
  flex: 0 0 80px;
  max-width: 80px;
  min-width: 80px;
  width: 80px;
}

.ant-layout-sider, .ant-layout-sider-trigger, .ant-menu-dark {
  background: #5C18FF;
}

.ant-menu {
  &.ant-menu-dark {
    background: #5C18FF;
  }

  &.ant-menu-inline {
    &.ant-menu-sub {
      background: #4300E4;
    }
  }
}

.ant-menu-item-selected {
  background-color: #5C18FF;
}

.ant-menu-dark {
  &.ant-menu-dark:not(.ant-menu-horizontal) {
    .ant-menu-item-selected {
      background-color: #00A3FF;
    }
  }
}

.ant-menu-horizontal {
  border-bottom: 0;
}

.ant-table-column-sorters-with-tooltip {
  .ant-table-column-sorters {
    display: flex;
    justify-content: space-between;

    .anticon svg {
      margin-bottom: 2px;
    }
  }
}

.ant-btn {
  border-radius: 40px;
}
