.contacts {
  height: calc(100vh - 176px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .anticon svg {
    margin-bottom: 5px;
  }

  .flexEqualSpacing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .firstNav {
    @extend .flexEqualSpacing;

    .leftPlacement {
      @extend .flexEqualSpacing;

      .searchInput {
        margin-right: 8px;
      }
    }
    .rightPlacement {
      .ant-btn {
        padding: 2px;
      }
      .ant-btn > .anticon + span, .ant-btn > span + .anticon {
        margin-left: 4px;
      }

      @extend .flexEqualSpacing;

      .deleteBtn {
        width: 80px;
        margin-right: 8px;
      }

      .exportBtn {
        width: 100px;
        margin-right: 8px;
      }

      .addContactBtn {
        width: 110px;
      }
    }
  }
  .thirdNav{
    height: calc(100vh - 288px);
  }

}
.ant-popover-contact{
  width: 502px;
  .ant-popover-message{
    padding: 0;
    .ant-popover-message-title{
      p{
        margin: 0;
      }
    }
  }
}

