.editContact {
  h4.ant-typography, .ant-typography h4 {
    margin-top: -6px;
  }

  .tabsNav {
    height: calc(100vh - 215px);
    padding-left: 24px;
    padding-right: 8px;

    .addSegBtnCon {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 24px;
      .ant-btn {
        padding: 2px;
      }

      .ant-btn > .anticon + span, .ant-btn > span + .anticon {
        margin-left: 4px;
      }

    }
  }
}

.contacts {
  .flexFormItems {
    .ant-form-item {
      width: 48%;
    }
  }
}
